<div class="container">
  <h1>All Pets</h1>
  <h2>
    <a href="/dogs">Dogs</a>
  </h2>
  <ul id="dogs" class="list-group"></ul>

  <br/>

  <h2>
    <a href="/cats">Cats</a>
  </h2>
  <ul id="cats" class="list-group"></ul>
</div>